@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  background-color: #12181b;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 10em;
  background-image: linear-gradient(
    180deg,
    rgba(99, 253, 136, 1) 0%,
    rgba(51, 197, 142, 1) 50%,
    rgba(39, 97, 116, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
}

.controls {
  margin-top: 16px;
}

button {
  width: 11rem;
  height: 3rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 4px 8px;
  margin-left: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
}

button:active {
  transform: translateY(0.1rem);
}

.set-alarm {
  background-color: #498afb;
}

.clear-alarm {
  background-color: #ff3860;
}

input[type="datetime-local"] {
  width: 25rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
}
